.m-category-list{
    flex: 1;
    height: 100%;
    padding: 0 30px;

    ul, li {
        list-style-type: none;
        font-size: 0.85vw;
        padding-inline-start: 0;
    }
}

.m-map-container {
    height: calc(100% - 40px);
}

.m-house-list {
    flex: 1;
    width: 100%;
    padding: 10px;
    transition: all 0.5s;
}

.m-houses{
    position: absolute;
    background-color: #fff;
    width: 100vw;
    transition: all 0.5s;
    left: 0;
    bottom: 0
}

.m-home-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.m-main-container {
    height: 100%;
    overflow: scroll;
}

.m-house-status{
    height: 30px;
}