@import '../assets/variables.scss';

body {
    margin: 0;
    height: 100vh;
    font-family: $font-family;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#root {
    height: 100%;
}

.category-list{
    flex: 1;
    height: 100%;
    padding: 0 30px;

    ul, li {
        list-style-type: none;
        font-size: 0.85vw;
        padding-inline-start: 0;
    }
}

.house-list {
    flex: 3;
    height: 100%;
    padding: 20px;
}

.map-container {
    flex: 3;
    height: 100%;
}

.home-container{
    display: flex;
    flex-direction: 'row';
    height: 100%;
    padding: 20px;
}

.main-container {
    height: 100%;
    overflow: hidden;
}