.house-detail {
    @media screen and (min-width: 800px) {
        padding: 20px 20% 0;
    }
}

.house-detail__images {
    padding-bottom: 20px;
    position: relative;
    min-height: 100px;
}

.house-detail__information{
    display: flex;
    flex-direction:row;
    border: 1px solid #EEE;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.house-detail__information__section-btn{
    width: 25%;
    height: 48px !important;
    line-height: 48px;
    vertical-align: middle;
    text-align: center;
    color: #999;
    border-right: 1px solid #EEE;
    background-color: #F9F9F9;
    text-decoration: none;
}

.house-detail__images__room-btn-group__room-btn{
    width: 10rem;
    height: 3rem;

    line-height: 3rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: solid 1px #eee;

    @media screen and (max-width: 600px) {
        width: 25%;
        height: 3rem;
        line-height: 3rem;
        border: none;
        border-right: solid 1px #ccc;
    }
}

.house-detail__images__room-btn-group{
    z-index: 1;
    position: absolute;
    top: 20;
    left: 20;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: 600px){
        position: relative;
        top: 0;
        left: 0;
    }
}

.house-detail__information__section-btn--active{
    background-color: #FD675A;
    border-bottom-color: #FD675A;
    color: #FFF;
    font-weight: 700;
}
