.card {
    border-radius: 1.5rem;
    border: 1px solid #d4d4d4;
    max-width: 25rem;
    width: 100%;
    margin: auto;
}

//https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
.card_img {
    padding-top: 80%;
    position: relative;
    border-radius: 1.5rem 1.5rem 0 0;
    background-size: cover;
    background-position: center;
}