.house {
    height: 100%;
    overflow: hidden;
}

.house__container{
    display: flex;
    flex-direction: row;
    height: 100%;

    @media (max-width: 690px) {
        flex-direction: column-reverse;
        position: relative;
    }
}

.house__container__map-container {
    flex: 3;
    height: 100%;
}

.house__container__category-list{
    flex: 1;
    height: 100%;
    padding: 0 30px;

    ul, li {
        list-style-type: none;
        font-size: 0.85vw;
        padding-inline-start: 0;
    }

    @media (max-width: 690px) {
        display: none;
    }
}

.house__container__house-list {
    flex: 3;
    padding: 0 20px;
    background-color: #fff;
    @media (max-width: 690px) {
        left: 0;
        bottom: 0;
        height: 48px;
        z-index: 1;
        position: absolute;
        transition: all 0.5s;
        width: calc(100% - 40px);
    }
    @media (min-width: 690px) {
        height: calc(100% - 20px);
    }
}


