.m-status-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
}

.m-status-btn{
    margin-left: auto;
    display:inherit;

    @media (min-width: 690px){
        display: none;
    }
}