@import './assets/variables.scss';

body {
    margin: 0;
    height: 100vh;
    font-family: $font-family;
    font-size: 1.1vw;

    @media (max-width:990px){
        font-size: 10px
    }
}

a {
    text-decoration: none
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#root {
    height: 100%;
}